PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI4NGZiODMxZC0yMTI4LTRjNmItYTRkYS0wZWJmZjA0OTMzODQiLCJlbWFpbCI6IjB4c3RydWN0QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJhMTYwMjA0NzU1YTE5ZDQ3ODI4NSIsInNjb3BlZEtleVNlY3JldCI6ImZhMjRkNzM3NzdmYzI4ODM2YzljMGNkNGFiYWRjZDEwYzg1OWUwMGFjOTQ0YjU5ZTgyM2RmYmNmMjAwNTQ3MzIiLCJpYXQiOjE3MTE4MTk0MTF9.0MGgowpedvhgNTksNzrO7xOPxmhhzjBCh0lPVR6Z7zM
NEXT_PUBLIC_GATEWAY_URL=apricot-odd-wallaby-508.mypinata.cloud
NEXT_TELEMETRY_DISABLED=1